.list{
 background-color: rgb(122, 4, 122);
 font-size: 25px;
 padding: 5px;
display: flex;
gap: 43%;
margin: 5px;
}
h2{
    color: white;
    font-size: 35px;
    
}
h3{
    margin: 7%;
    padding: 7%;
    color: purple;
    text-align: center;
    font-size: 25px;
}
 
.page{
    margin-top: 40px;
}

.nav{
    margin-left: 10%;
    gap: 30px;
  color: white;
  text-decoration: none;
}
.nav:hover{
 color:rgba(250, 245, 245, 0.897);
}
body{
    font-family: 'Times New Roman', Times, serif;  
    
}
h1{
    color: purple;
    text-align: center;
    margin: 17%;
}
